<%  layout('layout/boilerplate') %>


<h1> Add new Hotels </h1>


<form class=" g-3 needs-validation" novalidate action="/campground/new" method="post" enctype="multipart/form-data">
    <div class="mb-3" >
      <label for="title" class="form-label">Title</label>
      <input type="text" name="campground[title]" required class="form-control" id="title">
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input type="text" name="campground[location]" required class="form-control" id="location" aria-describedby="Location">
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image URL</label>
      <input type="file" name="image" required class="form-control" id="image" aria-describedby="Image URL">
    </div>
    <div class="mb-3">
      <label for="price" class = "form-label">Price</label>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">$</span>
        <input id="price" type="number" required name="campground[price]" class="form-control" placeholder="0.00" aria-label="" aria-describedby="addon-wrapping">
      </div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input name="campground[description]" type="text" required class="form-control" id="description" aria-describedby="Description">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

 